@{
    ViewBag.Title = "Documents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documents Details</title>
</head>

<body>
    <h2 style="color: #f5a004;">
        Upload Documents
    </h2>
    <div>
        Upload supporting documents such as a copy of your Resume/CV, Identity Document and Certificates.
    </div>
    <hr />

    <div id="listOfDocuments">
        @{ Html.RenderAction("GetDocuments", "Documents", null);}
    </div>

    <div id="createAndEditDocs">
        @{ Html.RenderAction("CreateDocument", "Documents", null);}
    </div>

    <div class="form-group">
        <hr />
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Go Back", "ApplicantDetails", "Applicants", null, null)
        </div>
    </div>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryunobstrusive")
    @Scripts.Render("~/Content/cssjqryUi")
    @Scripts.Render("~/bundles/jqueryui")

}
